.styled-table {
    width: 80%;
    border-collapse: collapse;
    margin : auto;
    margin-top: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #663300;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #663300;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table thead tr {
    background-color: #663300;
    color: #ffffff;
    text-align: left;
}
.page_bar {
    margin:auto;
}
.page-link {
 background-color: #eee;
 border: none;
 padding: 1rem;
 font-size: 1rem;
 width: 10em;
 border-radius: 1rem;
 color: #663300;
 box-shadow: 0 0.4rem #dfd9d9;
 cursor: pointer;
}

.page-link:active {
 color: white;
 box-shadow: 0 0.2rem #dfd9d9;
 transform: translateY(0.2rem);
}

.page-link:hover:not(:disabled) {
 background: #663300;
 color: white;
 text-shadow: 0 0.1rem #bcb4b4;
}

.page-link:disabled {
 cursor: auto;
 color: grey;
}

.page-buttons{
margin:auto;
margin-top:10px;
margin-bottom:10px;
margin-left:50px;
}
.page-buttons{
    text-align: center;
    margin: 20px;
}
