:root {
    --main-color: #844814;
    --secondary-color: #333333;
    --white-color: #fff;
}

#logout-link{
    cursor: pointer!important;
}
a:hover{
    color: var(--main-color);
}
.register .error {
    color:red;

    display:none;
}

.active:hover{
    color: var(--secondary-color)!important;
}

