:root {
    --main-color: #844814;
    --secondary-color: #333333;
    --white-color: #fff;
}

#logout-link{
    cursor: pointer!important;
}
a:hover{
    color: var(--main-color);
}
.register .error {
    color:red;

    display:none;
}

.active:hover{
    color: var(--secondary-color)!important;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");
/*body {*/
/*    background: #332f35;*/
/*    font-family: roboto;*/
/*}*/

.radio-group input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.radio-group label {
    color: #9a929e;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    font-size: 12pt;
    padding: 5px 20px;
}

.radio-group input[type=radio]:checked + label {
    color: #ccc8ce;
    background: #675f6b;
}

.radio-group label + .radio-group input[type=radio] + .radio-group label {
    /*border-left: solid 1px #675f6b;*/
}

.radio-group {
    /*border: solid 1px #675f6b;*/
    display: inline-block;

    border-radius: 10px;
    overflow: hidden;
    background-color: #efefef;
}