<web-app xmlns= "https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation= "https://jakarta.ee/xml/ns/jakartaee
 https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version= "5.0"
         metadata-complete= "true">


<!--    //Servlets-->
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>gov.iti.jets.servlet.MainServlet</servlet-class>
    </servlet>
<!--    <servlet-mapping>-->
<!--        <servlet-name>Main</servlet-name>-->
<!--        <url-pattern>/</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
       <servlet-name>Login</servlet-name>
       <servlet-class>gov.iti.jets.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>gov.iti.jets.servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>gov.iti.jets.servlet.HomeServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>gov.iti.jets.servlet.RegisterServlet</servlet-class>
    </servlet>

<!--    //Mappers-->
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>verifyemail</servlet-name>
        <servlet-class>gov.iti.jets.servlet.VerifyEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verifyemail</servlet-name>
        <url-pattern>/VerifyEmail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>gov.iti.jets.servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>previewCustomer</servlet-name>
        <servlet-class>gov.iti.jets.servlet.PreviewCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>previewCustomer</servlet-name>
        <url-pattern>/PreviewCustomer</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>gov.iti.jets.servlet.ProductImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productListing</servlet-name>
        <servlet-class>gov.iti.jets.servlet.ProductListingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productListing</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>gov.iti.jets.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/item</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addingProduct</servlet-name>
        <servlet-class>gov.iti.jets.servlet.AddingProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addingProduct</servlet-name>
        <url-pattern>/AddingProduct</url-pattern>
    </servlet-mapping>

<!--    //Listeners-->

    <listener>
        <listener-class>
            gov.iti.jets.listener.MainListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            gov.iti.jets.listener.ThreadLocalListener
        </listener-class>
    </listener>



</web-app>
